<template>
  <div>
    <NavBar> </NavBar>
    <div class="container">
      <h1 style="text-align: center">Input Data Film</h1>
      <div>
        <b-form @submit="onSubmit" @reset="onReset">
          <b-form-group
            id="input-group-1"
            label="ID FILM : "
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              v-model="form.id_film"
              placeholder="Masukkan ID FILM"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            label="Judul Film : "
            label-for="input-2"
          >
            <b-form-input
              id="input-2"
              v-model="form.judul"
              placeholder="Masukkan Judul Film"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-3"
            label="Poster : "
            label-for="input-3"
          >
            <b-form-input
              id="input-3"
              v-model="form.poster"
              placeholder="Masukkan Link Poster"
              required
            ></b-form-input>
          </b-form-group>

          <!-- harga -->
          <b-form-group
            id="input-group-4"
            label="Harga Film : "
            label-for="input-4"
          >
            <b-form-input
              id="input-4"
              v-model="form.harga"
              placeholder="Masukkan Harga"
              required
            ></b-form-input>
          </b-form-group>

          <!-- Tersedia -->
          <b-form-group
            id="input-group-5"
            label="Tersedia : "
            label-for="input-5"
          >
            <b-form-input id="input-2" value="Tersedia" readonly></b-form-input>
          </b-form-group>

          <b-button @click="onClick" type="submit" style="margin-right : 20px" variant="primary"
            >Submit</b-button
          >
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";
import Axios from "axios";

export default {
  name: "Film",
  components: {
    NavBar,
  },
  data() {
    return {
      form: {
        id_film: "",
        judul: "",
        poster: "",
        tersedia: "Tersedia",
        harga: "",
      },
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      Axios.post("https://service-film.herokuapp.com/movies", this.form).then((response) => {
        alert(JSON.stringify(response.data));
      });
    },
  },
};
</script>

<style></style>
