<template>
  <div class="home">
    <NavBar />

    <div class="container">
      <div class="row mb-3">
        <div class="col-md-3 mt-4" v-for="film in films" :key="film.id_film">
          <Card :film="film" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import NavBar from "@/components/NavBar.vue";
import Card from "@/components/Card.vue";
import axios from "axios";
export default {
  name: "Home",
  components: {
    NavBar,
    Card,
  },
  data() {
    return { films: [] };
  },
  methods: {
    setFilm(data) {
      this.films = data;
    },
  },
  mounted() {
    axios
      .get("https://service-film.herokuapp.com/movies")
      .then((response) => {
        this.setFilm(response.data);
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
