<template>
  <div>
    <b-card
      :title="film.judul"
      :img-src="film.poster"
      :img-alt="film.id_film"
      img-top
      tag="Movies"
      style="max-width: 20rem;"
      class="mb-2"
    >
      <b-row style="align-items: center">
        <b-col sm="7">
          <h6>Rp. {{ film.harga }}</h6></b-col
        >
        <b-col sm="4"
          ><b-button v-if="film.tersedia === 'Tersedia'" variant="success"
            >Tersedia</b-button
          >
          <b-button v-else>Kosong</b-button>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: ["film"],
};
</script>

<style></style>
