<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info" style="margin-bottom: 2rem">
      <div class="container">
        <b-navbar-brand href="/">Tugas PWL</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item href="/">Home</b-nav-item>
            <b-nav-item href="/filmAdd" >Tambah Film</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "NavBar",
};
</script>

<style></style>
